body {
  margin: 0%;
  font-family: 'Lobster', cursive;
}

h1 {
  font-size: 50px;
}

.name1 {
  color: chocolate;
}

.half1 {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}

.half1 img {
  width: 80%;
}
.top_banner
{
  background-image:url("images/top-banner.png") ;
}
section
{
  height: 500px;
  background-repeat: no-repeat;
}
.button1
{
  text-decoration: none;
  background-image: linear-gradient(45deg, lightsalmon,tomato);
  padding: 10px 20px;
  color: white;
  font-weight: 700px;
}